@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --primary-color: #684aaf;
  --secondary-color: #1b1820;
  --tertiary-color: #121212;
  --text-color: white;
  --gray-color: white;

  /* Font sizes */
  --text-lg: 2.2rem;
  --text-md: 1.7rem;
  --text-sm: 1.2rem;

  /* Border */
  --border: 2px solid white;
  /* Border radius */
  --border-radius-sm: 8px;
  --border-radius-md: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Space Grotesk", serif;
  background-color: var(--tertiary-color);
  color: var(--text-color);
}

body #root {
  display: grid;
  gap: 50px;
  height: fit-content;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-size: var(--text-md);
}

body #root :where(header, main, footer) {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

footer {
  text-align: center;

  & a {
    color: var(--primary-color);
  }
}
