.main__container--detail {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  & h1 {
    font-size: 5rem;
    color: var(--primary-color);
  }

  & p {
    font-size: 2rem;
  }

  & img {
    width: 40px;
    opacity: 0.3;
    cursor: pointer;
  }

  & img:hover {
    opacity: 10;
  }
}
