.task__form {
  display: flex;
  gap: 10px;

  & input {
    padding: 7px 15px;
    border-radius: 6px;
    outline-color: var(--primary-color);
    font-size: 1.5rem;
  }

  & input:nth-child(1) {
    flex: 1;
    color: white;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
  }

  & input:nth-child(2) {
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
  }
}
